<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <img id= "titleicon" src="https://lh3.googleusercontent.com/a-/AOh14Ggu7--UattRldHMOBHU9wRcvbHrr9pbjTYt0S5M=s288-p-rw-no" width="50" height="50" alt="icon">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
<h1 style="text-align: center;">Quem nós somos</h1>
  <ion-card-content>
    <img id="img"src="https://media-exp1.licdn.com/dms/image/C4E03AQHPksY12hfd2w/profile-displayphoto-shrink_800_800/0/1620418975915?e=1655942400&v=beta&t=54rEOZ6rJJq9-O8Kf0Udu2hCvqJOsjbXlh9PB04uTTg" alt="moises">
    <h3 style="text-align: center;">Gerente: Moises de Oliveira</h3>
  </ion-card-content>
  <ion-card-content>
    <img id="img"src="https://media-exp1.licdn.com/dms/image/C4E03AQFM0_aUdkk-Gg/profile-displayphoto-shrink_800_800/0/1612030157115?e=1655942400&v=beta&t=bzLZ-SHBQdHYYRqdd9kW_2-C6SvxUgdrBCjoUweATuM" alt="nadiele" width="382" height="362">
    <h3 style="text-align: center;">Desenvolvedora Front-End: Nadiele Praia</h3>
  </ion-card-content>
  <ion-card-content>
    <img id="img"src="https://media-exp1.licdn.com/dms/image/C4D03AQG4ww_OzPxmdA/profile-displayphoto-shrink_800_800/0/1645269707868?e=1655942400&v=beta&t=OsfXutJu0ZKIxBG6jtLlr5BJqwrm-12Sk21_GdQAIkM" alt="luan" width="382" height="362">
    <h3 style="text-align: center;">Desenvolvedor Back-End: Luan de Oliveira</h3>
  </ion-card-content>
  <ion-card-content>
    <img id="img"src="assets/img/eduardo.jpg" alt="eduardo" width="382" height="362">
    <h3 style="text-align: center;">Estagiário Superior I: Eduardo Noji</h3>
  </ion-card-content>
  <ion-card-content>
    <img id="img"src="assets/img/marcos.png" alt="marcos" width="382" height="362">
    <h3 style="text-align: center;">Estagiário Superior II: Marcos Gustavo</h3>
  </ion-card-content>
  <ion-card-content>
    <img id="img"src="https://media-exp1.licdn.com/dms/image/D4D35AQHswo9cmN79Fw/profile-framedphoto-shrink_800_800/0/1627957962232?e=2147483647&v=beta&t=dadeylyboRofQPakSW1lVT3ZRpwvFGbiub4Fmtcbz9o" alt="denard" width="382" height="362">
    <h3 style="text-align: center;">Estagiário Superior II: Denard Calacina</h3>
  </ion-card-content>
</ion-content>
