<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <img id= "titleicon" src="https://lh3.googleusercontent.com/a-/AOh14Ggu7--UattRldHMOBHU9wRcvbHrr9pbjTYt0S5M=s288-p-rw-no" width="50" height="50" alt="icon">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <img src="assets/img/gesi.png" alt="gesi">
  <ion-card-content>
    <p style="text-align: justify; color: aliceblue;">A Gerência de Sistemas da Informação - GESI, faz parte do Departamento de Tecnologia e Informação (DETIN), da Secretaria de Educação e Desporto do Amazonas - SEDUC/AM.
    Responsável por implementar ferramentas através de sistemas que possibilitam melhorar o trabalho dos servidores e promovendo avanços tecnologicos no ambito da educação pública no Estado do Amazonas.</p>
  </ion-card-content>
</ion-content>
