<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      <img id= "titleicon" src="https://lh3.googleusercontent.com/a-/AOh14Ggu7--UattRldHMOBHU9wRcvbHrr9pbjTYt0S5M=s288-p-rw-no" width="50" height="50" alt="icon">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
<h1 style="text-align: center;">Projetos</h1>
  <ion-card-content>
    <img src="assets/img/sisbi.png" alt="sisbi">
    <h2 style="text-align: center;">SISBI</h2>
    <p style="text-align: center;">
      Sistema de cadastro e visualização de painéis de Business Intelligence (BI)
    </p>
  </ion-card-content>
</ion-content>
